{% extends 'base.html' %}
{% block content %}
    <main class="container mx-auto mt-4">
        <form method="post" class="max-w-sm mx-auto flex flex-col gap-0.5">
            {% csrf_token %}
            <label for="product" class="block mb-2 text-sm font-medium text-gray-900">Producto:</label>
            {{ form.name }}
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Precio:</label>
            {{ form.price }}
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Descripción</label>
            {{ form.description }}
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 text-center py-2 mt-2">
                Agregar
            </button>
        </form>
    </main>
{% endblock %}
